.button {
  -webkit-appearance: none; //sass-lint:disable-line no-vendor-prefixes
  border: 0;
  border-radius: 3px;
  color: $grey-50;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  text-align: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &__wrapper {
    @include to(3) {
      background-color: $grey-700;
      bottom: 0;
      height: 76px;
      left: 0;
      position: fixed;
      width: 100%;
    }
  }

  &--primary {
    background-color: $brandprimarysolid-1;
    box-shadow: 0 1px 0 1px $brandprimarysolid-3;
  }

  &--big {
    @include from(4) {
      margin: 12px 0;
      width: 100%;
    }
    line-height: 51px;
    margin: 12px;
    width: calc(100% - 24px);
  }

  &--card {
    @include to(1) {
      font-size: 14px;
    }
    background-color: $grey-800;
    border-radius: 100px;
    bottom: 24px;
    left: 0;
    line-height: 32px;
    position: absolute;
    width: 100%;
  }
}
