.category-menu {
  ul {
    list-style: none;
    margin: 12px;
    padding: 0;
  }

  button {
    -webkit-appearance: none; //sass-lint:disable-line no-vendor-prefixes
    background-color: $grey-700;
    border: 0;
    border-radius: 3px;
    color: $grey-50;
    font-size: 14px;
    line-height: 36px;
    margin: 3px 0;
    outline: 0;
    text-transform: capitalize;
    transition: background-color 0.1s ease-out;
    width: 100%;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  li {
    display: block;

    &.active {
      button {
        background-color: $brandprimarysolid-1;
      }
    }
  }
}
