// primary color
$brandprimarysolid-1: #8eb50d;
$brandprimarysolid-2: #579425;
$brandprimarysolid-3: #3a632c;
$brandprimaryborder:  #8eb50d;

// secondary color
$brandsecondarysolid-1: #e10f67;

// feedback colors
$error: #d63737;
$success: #38c472;
$info: #2b81e7;

// shades of grey
$grey-50:       #f4f4f4; // default light
$grey-100:      #e8eaec;
$grey-200:      #d5d8dc;
$grey-300:      #c0c4ca;
$grey-400:      #999;
$grey-500:      #6d717e;
$grey-600:      #575b67;
$grey-700:      #41444f;
$grey-800:      #373942;
$grey-900:      #282b33; // default dark
